@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-red-200 text-3xl bg-sky-300">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">builddssssssssssssssing Web apps with ASP.NET
            Core</a>.</p>
</div>
